<nav class=" p-3 d-flex algin-item-center justify-content-between fixed-top">
  <ul class="list-unstyled d-flex ">
    <li *ngIf='isLogin' class="px-2"> <a routerLink="home">Home</a> </li>
    <li *ngIf='isLogin' class="px-2"> <a routerLink="about">About</a> </li>
    <li *ngIf='isLogin' class="px-2"> <a routerLink="contacts">contact us</a> </li>
  </ul>

  <ul class="list-unstyled d-flex ">

    <li class="px-2"><a><i class="fab fa-instagram"></i></a></li>
    <li class="px-2"><a><i class="fab fa-facebook"></i></a></li>
    <li class="px-2"><a><i class="fab fa-twitter"></i></a></li>
    <li class="px-2 me-4"><a><i class="fab fa-youtube"></i></a></li>

    <li *ngIf='isLogin' class="px-2"> <a routerLink="setting">Settings</a> </li>
    <li *ngIf='!isLogin' class="px-2"> <a routerLink="login">login</a> </li>
    <li *ngIf='!isLogin' class="px-2"> <a routerLink="register">register</a> </li>
    <li (click)='logOut()' *ngIf='isLogin' class="px-2"> <a routerLink=""> logOut</a> </li>


  </ul>
</nav>

