@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital@1&family=Roboto:wght@300&display=swap');

body{
  background: #131722 !important;
  color: #fff;
  font-family: 'Montserrat Alternates', sans-serif;
}

a{
  text-decoration: none !important;
  color: #fff;
}

.vote
{
  background-color: #24baef;
  padding: 5px;
  font-weight: 900;
  color: white;
}

.second-color
{
  color: #949cb0 !important;
}

.brdr
{
  background-color: #a8a8a83d;
  height: 2px;
}
